* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#root{
	position: relative;
	min-height: 100%;
	min-width: 100%;
	background: linear-gradient(to bottom, black, #dbc4a0);
}

.logo{
	width: 100px;
}

.navBar{
	font-family: 'Fugaz One', cursive;
	font-size: 1.80em;
	background: linear-gradient(to bottom, black ,rgb(115, 34, 29));
}

.navLinks{
	color: rgb(232, 28, 69) !important;
	transition: color 250ms ease-out;
	-webkit-transition: color 250ms ease-out;
	-moz-transition: color 250ms ease-out;
	-o-transition: color 250ms ease-out;

}

.navLinks:hover{
	color: #ebc26c !important;
}

#logout-menu {
	color: rgb(232, 28, 69) !important;
	transition: color 250ms ease-out;
	-webkit-transition: color 250ms ease-out;
	-moz-transition: color 250ms ease-out;
	-o-transition: color 250ms ease-out;
}

#logout-menu:hover{
	color: #ebc26c !important;
}

.homeProductsRegisterMenu{
	margin-right: 30px;
}

#jumbotron{
	text-align: center;
	padding-bottom: 400px;
	background: url('./images/shotgun-barrel.jpg');
	background-size: cover;
	background-position: center;
}

#jumbotron-content {
	margin-top: 200px;
	font-family: 'Permanent Marker', cursive;
}

#jumbotron-heading{
	font-size: 8.5vw;
	color: rgb(214, 86, 100);
	transition: color 200ms ease-in;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;

}

#jumbotron-heading:hover{
	color: rgba(214, 86, 100, 0.7);
}

#jumbotron-paragraph{
	font-size: 25px;
	color: rgb(143, 39, 64);
	margin-top: 50px;
	transition: color 200ms ease-out;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	-o-transition: color 200ms ease-out;
}

#jumbotron-paragraph:hover{
	color: rgba(143, 39, 64, 0.8);
}

.footer{
	background: linear-gradient(to top, black, rgb(92, 29, 10));
	position: absolute;
	width: 100%;
}

.footer-content{
	margin-top: 10px;
	color: rgb(199, 168, 159);
}

#footer-brand{
	font-family: 'Permanent Marker', cursive;
	color: rgb(214, 86, 100);
	font-size: 4.5vw;
	transition: color 200ms ease-in;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
}

#footer-brand:hover{
	color: rgba(143, 39, 64, 0.8);
}

.footer-icons{
	margin-bottom: 20px;
}

#copyright{
	margin: 10px 0px 0px 10px;
	color: rgb(161, 122, 111);
}

.contact-and-follow{
	font-family: 'Playball', cursive;
	font-weight: 800;
	font-size: 3vh;
}

/*.figureContainer{
	position: relative;
	text-align: center;
	color: white;
}*/

#highlights-header{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 0.5px dashed;
	margin: 20px;
	font-family: 'Permanent Marker', cursive;
	color: #700f27;
}

.bottom-left{
	position: absolute;
	bottom: 8px;
	left: 16px;
	margin-bottom: 10px;
	color: #f28100;
	font-family: 'Permanent Marker', cursive;
}

.highlights-row{
	background: black;
	padding-top: 20px;
}

.highlights-images{
	filter: grayscale(100%);
	transition: filter 250ms ease-in-out;
	-webkit-transition: filter 250ms ease-in-out;
	-moz-transition: filter 250ms ease-in-out;
	-o-transition: filter 250ms ease-in-out;
}

.highlights-images:hover {
	filter: grayscale(0%);
}

#login-container{
	height: 80vh;
}

#login-card{
	margin-top: 5em;
	padding: 2em 2em 2em 2em;
	background: linear-gradient(to bottom, rgb(232, 223, 200), rgb(232, 202, 200));
}

#login-heading{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 8vh;
	color: rgb(207, 14, 75);
}

.login-button{
	width: 100%;
	font-family: 'Fugaz One', cursive;
	font-size: 30px;
	background: linear-gradient(to left, red, purple);
	margin-top: 30px;
	color: rgb(204, 143, 31) !important;
}

#login-form{
	font-weight: bold;

}

#register-heading{
	font-size: 100px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color: rgb(207, 14, 75);
}

#register-card{
	padding: 2em 2em 2em 2em;
	background: linear-gradient(to bottom, rgb(232, 223, 200), rgb(232, 202, 200));
	font-weight: bold;
}

.register-button{
	width: 100%;
	font-family: 'Fugaz One', cursive;
	font-size: 30px;
	background: linear-gradient(to left, red, blue);
	color: rgb(204, 143, 31) !important;
}

.productCards {
	min-height: 100%;
	padding: 5px;
	text-align: center;
	background: linear-gradient(to bottom, rgb(224, 195, 203), rgb(224, 212, 195));
	-webkit-transition: background, color 300ms ease-out;
	-moz-transition: background, color 300ms ease-out;
	-o-transition: background 300ms ease-out;
}

.productCards:hover {
	background: linear-gradient(to bottom, rgb(201, 235, 101), rgb(207, 43, 90));
	color: rgb(77, 49, 122) !important;
}

.product-image{
	padding-bottom: 30px;
}

.product-name {
	font-family: 'Permanent Marker', cursive;
	margin-top: 30px;
	font-size: 50px;
	color: rgb(212, 30, 63);
}

.product-category {
	font-family: 'Playball', cursive;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(97, 13, 29);
}

.product-text{
	font-weight: 500;
}
.productColumns {
	margin-bottom: 20px;
}

#productJumbotron {
	background: url('./images/productBanner.jpg');
	background-size: cover;
	background-position: center;
	height: 750px;
}

#productBanner-content {
	text-align: center;
	margin-top: 200px;
	font-family: 'Permanent Marker', cursive;
}

#productBanner-header{
	font-size: 10vh;
	color: rgb(207, 83, 99);
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
}

#productBanner-header:hover {
	color: rgb(217, 170, 100);
}

#productBanner-paragraph {
	font-size: 5vh;
	color: rgb(163, 100, 127);
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
}

.onSale{
	color: rgb(232, 159, 14);
	font-weight: bold;
	font-family: 'Fugaz One', cursive;
	font-size: 25px;
}

#productBanner-paragraph:hover {
	color: rgb(217, 146, 91);
}

#addProduct-container {
	min-height: 80vh;
	padding: 50px;
}

#addProduct-heading {
	text-align: center;
	font-family: 'Fugaz One', cursive;
	font-size: 8vh;
	color: rgb(186, 45, 78);
}

#addProduct-form{
	padding-left: 9vw;
	padding-right: 9vw;

}

.addProduct-label{
	font-size: 20px;
	font-family: 'Fugaz One', cursive;
	color: rgb(186, 30, 78);
	font-weight: bold;
}

#addProduct-button{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background: linear-gradient(to right, rgb(204, 24, 54), rgb(204, 102, 24));
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	color: rgb(79, 61, 107);
	font-size: 30px;
}

#dashboard-container {
	background: linear-gradient(to bottom, rgb(232, 223, 200), rgb(232, 202, 200));
}

#dashboard-heading {

	text-align: center;
	padding: 20px;
	font-family: 'Permanent Marker', cursive;
	font-size: 10vh;
}

#dashboard-table{
	width: 100%;
	margin-bottom: 0px;
}

#dashboardTable-heading{
	font-size: 30px;
}

#product-name{
	font-weight: bold;
}

#product-status{
	font-family: 'Fugaz One', cursive;
}

#notFound-banner{
	padding-bottom: 400px;
	margin-bottom: 0px;
	background: linear-gradient(to right, rgb(168, 40, 60), rgb(99, 89, 105));
}

#notFound-logo{
	width: 500px;
}

#notFound-content{
	text-align: center;
}

#notFound-heading{
	font-family: 'Permanent Marker', cursive;
	font-size: 10vw;
	color: black;
}

#notFound-paragraph{
	font-weight: bold;
	font-size: 3vh;
}

#notFound-span{
	color: orange;
}

#notFound-button{
	background: linear-gradient(to left, rgb(18, 147, 222), rgb(222, 100, 18));
	font-family: 'Permanent Marker', cursive;
	color: rgb(207, 14, 75);
	font-size: 30px;
}

#order-card{
	background: linear-gradient(to right, rgb(189, 111, 143), rgb(189, 161, 72));
}

#order-title{
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	color: rgb(214, 86, 100);
}

#order-subtitle{
	text-align: center;
	font-family: 'Playball', cursive;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(97, 13, 29);
}

#order-price{
	text-align: center;
	font-family: 'Fugaz One', cursive;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(161, 27, 81);
}

#order-form{
	font-size: 15px;
	font-weight: bold;
}

.order-button{
	width: 100%;
	background: linear-gradient(to left, red, purple);
	font-family: 'Fugaz One', cursive;
	color: orange;
	margin-top: 20px;
}

#purchases-container{
	height: 100vh;
	margin-top: 0px;
	background: linear-gradient(to bottom, rgb(232, 223, 200), rgb(232, 202, 200));
	text-align: center;
}

#purchases-row{
	font-family: 'Fugaz One', cursive;
	padding-top: 20px;
	padding-bottom: 20px;
}

#purchases-noOrders{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size: 5vw;
}